* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.col {
  height: calc(100vh / 16);
  width: calc(100vw / 16);
  border: 2px solid black;
}
